html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

p {
  margin: 0;
}

h6 {
  margin: 0;
}

.main-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #c6c6c6;
  width: 100%;
}

.logo {
  width: 127px;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.post {
  border-bottom: 2px solid #ededed;
  margin-bottom: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.post-header img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 7px;
}

.name {
  font-size: 13px;
  font-weight: 700;
}

.location {
  font-size: 12px;
  font-weight: 400;
}

.user-detail-container {
  display: flex;
  flex-direction: column;
}

.post-img {
  width: 100%;
}

.action-container {
  padding: 10px 0 0 10px;
}

.action {
  width: 20px;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.action:hover,
.action:focus {
  opacity: 0.7;
}

.like {
  font-size: 13px;
  font-weight: 700;
  margin: 5px 0 0 13px;
}

.post-username {
  font-weight: 700;
}

.post-comment {
  margin: 6px 0 16px 13px;
}
.like-animation {
  transition-duration: 0.25s;
  animation-duration: 0.35s;
  animation-name: like-btn;
}

@keyframes like-btn {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes like-overlay {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.4);
  }
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.5;
  z-index: +1;
  display: none;
  width: 320px;
}

.post-like-animation {
  transition-duration: 1s;
  animation-duration: 0.5s;
  animation-name: like-overlay;
}

.img-container {
  position: relative;
}
